@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
del,
dfn,
em,
font,
img,
ins,
q,
small,
strike,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
footer,
header,
article,
aside,
canvas,
nav,
section,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: 0;
    padding: 0;
    margin: 0;
}

article,
footer,
header,
menu,
nav,
section,
aside,
canvas {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

a:focus {
    outline: none;
}

blockquote {
    quotes: none;
}

blockquote:before,
blockquote:after {
    content: '';
    /*content: none;*/
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

body {
    width: 1024px;
    height: 768px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

#background {
    width: 1024px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: aliceblue;
}

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-template-areas:
            "css-opacity css-rotate start-css start-jquery jquery-opacity jquery-rotate"
            "css-opacity css-rotate reset-css reset-jquery jquery-opacity jquery-rotate"
            "css-scale   css-move   X         X            jquery-scale   jquery-move"
            "css-scale   css-move   X         X            jquery-scale   jquery-move";
}

.block {
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    transition: all;
    transition-duration: 1s;
}

.block__text {
    display: block;
}

.block-css-opacity {
    background-color: lightblue;
    grid-area: css-opacity;
}

.block-css-opacity.animate {
    opacity: 0;
}

.block-css-rotate {
    background-color: lightcoral;
    grid-area: css-rotate;
}

.block-css-rotate.animate {
    transform: rotate(360deg);
}

.block-css-scale {
    background-color: lightcyan;
    grid-area: css-scale;
}

.block-css-scale.animate {
    transform: scale(1.5);
}

.block-css-move {
    background-color: lightgray;
    grid-area: css-move;
}

.block-css-move.animate {
    transform: translate3d(100px, 100px, 0px);
}

.block-start-css {
    background-color: lightgreen;
    grid-area: start-css;
}

.block-reset-css {
    background-color: lightyellow;
    grid-area: reset-css;
}

.block-start-jquery {
    background-color: lightgreen;
    grid-area: start-jquery;
}

.block-reset-jquery {
    background-color: lightyellow;
    grid-area: reset-jquery;
}

.block-jquery-opacity {
    background-color: lightskyblue;
    grid-area: jquery-opacity;
}

.block-jquery-rotate {
    background-color: lightseagreen;
    grid-area: jquery-rotate;
}

.block-jquery-scale {
    background-color: lightslategray;
    grid-area: jquery-scale;
}

.block-jquery-move {
    background-color: lightsteelblue;
    grid-area: jquery-move;
}